version: '3.8'

services:
  web:
    image: jitsi/web:stable
    restart: unless-stopped
    ports:
      - '${HTTP_PORT}:80'
    environment:
      - PUBLIC_URL=${PUBLIC_URL}
      - ENABLE_LETSENCRYPT=${ENABLE_LETSENCRYPT}
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_MUC_DOMAIN=${XMPP_MUC_DOMAIN}
    depends_on:
      - prosody
    volumes:
      - web-config:/config

  prosody:
    image: jitsi/prosody:stable
    restart: unless-stopped
    expose:
      - '5222'
      - '5347'
      - '5280'
    environment:
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_INTERNAL_MUC_DOMAIN=${XMPP_INTERNAL_MUC_DOMAIN}
      - XMPP_MUC_DOMAIN=${XMPP_MUC_DOMAIN}
      - JICOFO_AUTH_USER=${JICOFO_AUTH_USER}
      - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}
      - JVB_AUTH_USER=${JVB_AUTH_USER}
      - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}
    volumes:
      - prosody-config:/config

  jicofo:
    image: jitsi/jicofo:stable
    restart: unless-stopped
    depends_on:
      - prosody
    environment:
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_INTERNAL_MUC_DOMAIN=${XMPP_INTERNAL_MUC_DOMAIN}
      - JICOFO_AUTH_USER=${JICOFO_AUTH_USER}
      - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}

  jvb:
    image: jitsi/jvb:stable
    restart: unless-stopped
    depends_on:
      - prosody
    ports:
      - '${JVB_PORT}:${JVB_PORT}/udp'
    environment:
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_INTERNAL_MUC_DOMAIN=${XMPP_INTERNAL_MUC_DOMAIN}
      - JVB_AUTH_USER=${JVB_AUTH_USER}
      - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}
      - JVB_PORT=${JVB_PORT}
      - JVB_STUN_SERVERS=${JVB_STUN_SERVERS}
      - JVB_ADVERTISE_IPS=${JVB_ADVERTISE_IPS}

volumes:
  web-config:
  prosody-config:
